* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* banner */
.banner-container {
  width: 100%;
  height: 100vh;
  background: url("./assets/background-3.jpg") no-repeat center; 
  background-size: cover;
}

nav {
  background-color: #000000;
}

footer {
  background-color: #1F212E;
}

.content {
  padding-top: 50vh;
}

.profesi {
    font-weight: normal;
    opacity: 0.9;
}

.socmed {
  margin-top: 10px;
}

.socmed > a {
  text-decoration: none;
}

.fa-facebook, .fa-instagram, .fa-github, .fa-linkedin, .fa-phone, .fa-envelope {
  color: white;
  margin-right: 5px;
}

/* about */
.about {
  height: auto;
  width: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(17,14,14,1) 100%, rgba(242,0,0,1) 100%);
}

.title{
  text-decoration: underline;
  text-align: center;
  text-transform: uppercase;
}

.foto-profile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .foto-profile > img {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-color: white;
  }

  /* resume */
  .resume {
    width: 100%;
    height: auto;  
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(17,14,14,0.9364788151588761) 100%, rgba(242,0,0,1) 100%);
  }
  
  .skills {
    height: auto;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(17,14,14,1) 100%, rgba(242,0,0,1) 100%);
}

/* portofolio */
.portofolio {
  height: auto;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(17,14,14,0.9364788151588761) 100%, rgba(242,0,0,1) 100%);
}

.card-img-top {
  max-height: 30vh;
  width: 100%;
}

.details {
  justify-content: flex-end;
}

/* contact */
.contact {
  height: auto;
  width: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(17,14,14,1) 100%, rgba(242,0,0,1) 100%);
}

@media only screen and (min-width: 992px){
  .form-contact {
    width: 70%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .form-contact {
    width: 80%;
  }
}

@media only screen and (max-width: 767px){
  .form-contact {
    width: 90%;
  }
}